.DS_Store 
obsidian/workspace.json
.obsidian/workspace.json
obsidian/workspace-mobile.json
.obsidian/workspace-mobile.json
.obsidian/workspace.json
.obsidian/workspace.json
.makemd/fileCache.mdb
.makemd/superstate.mdb
.makemd/fileCache.mdb
.makemd/superstate.mdb
.obsidian/plugins/make-md/Spaces.mdb
.makemd/superstate.mdb
.makemd/fileCache.mdb
